#pesan {
    font-size: 50px;
    color: #000000;
    text-shadow:  2px 2px #fffefe;
  }
#home {
  background-color: #fef9ec;
    position: relative;
    height: 50vh; /* Membuat section hampir memenuhi satu layar */
    display: flex;
    justify-content: center; /* Menyelaraskan konten secara horizontal */
    align-items: center; /* Menyelaraskan konten secara vertikal */
  }
  
  .image-container img {
    position: absolute;
    top: 10px;
    left: 800px;
    width: 40%;
    height: 100%;
    object-fit: cover;
    
  }
  
  .text-overlay {
    position: relative;
    z-index: 1; /* Teks berada di depan gambar */
    color: rgb(0, 0, 0); /* Agar teks terlihat jelas di atas gambar */
    padding: 20px;
  }
  #tombol{
    background-color: #db0007;
      border-color: #db0007;
      color: #fff;
      box-shadow: 0 .75rem 1.5rem -.5rem rgba(219, 0, 7, .3);
  }
  #box {
    border-radius: 2%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  #box:hover {
    transform: perspective(500px) rotateX(1deg) rotateY(1deg);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
  }
  .custom-link {
    color: #2e2c2c; /* Warna kuning untuk link tertentu */
  }
  .custom-link:hover {
    color: #d48806; /* Warna kuning lebih gelap saat hover */
  }
  #kontak {
    background-color: #fff;
    position: relative;
    height: 20vh;
    justify-content: center; /* Menyelaraskan konten secara horizontal */
    align-items: center;
  }

  #promo{
    /* position: relative; */
    height: 80vh; /* Membuat section hampir memenuhi satu layar */
    /* display: flex;
    justify-content: center; /* Menyelaraskan konten secara horizontal */
    /* align-items: center;  */
  }

 
  .pilihPromo{
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
 
  .buttonPromo-Active {
 border: none;
 background-color: #ffbc0d;
 padding: 15px;
 min-width: 200px;
 color: white;
 font-size: 20px;
 font-weight: 800;
 box-shadow: 0 5px 15px #e5e5e5;
  }

  .buttonPromo {
    border: none;
    background-color: #f2f2f2;
    padding: 15px;
    min-width: 200px;
    color: #CCCCCC;
    font-size: 20px;
    font-weight: 800;
    box-shadow: 0 5px 15px #e5e5e5;
   
  }

  .buttonPromo:hover {
    border: none;
    background-color: #ffbc0d;
    padding: 15px;
    min-width: 200px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    box-shadow: 0 5px 15px #e5e5e5;
     }

     
     #promoContent{
      display: flex;
      justify-content: center;
      gap :2rem
     }

     